@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


.special{
    cursor: pointer;
}
.fas.fa-equals{
    font-size: 20px;
}
body{
    font-family: 'Poppins', sans-serif;
}